{{!-- <div>
    <h2>Login</h2>
    <form action="/api/users/login" method="post">
        <label for="username">username:</label>
        <input class="username" type="text" id="username-login" name="username">

        <label for="password">password:</label>
        <input class="password" type="password" id="password-login" name="password">

        <button class="button" type="submit">login</button>
    </form>

</div> --}}

<div>
    <h2>Login</h2>
    <form id="login-form">
        <label for="username">username:</label>
        <input class="username" type="text" id="username-login" >

        <label for="password">password:</label>
        <input class="password" type="password" id="password-login">

        <button class="button" type="submit">login</button>
    </form>

</div>