:root {
--royal-blue-dark: #0a2463ff;
--red-salsa: #fb3640ff;
--davys-grey: #605f5eff;
--celadon-blue: #247ba0ff;
--platinum: #e2e2e2ff;
}

html, body {
    height: 100%;
    margin: 0;
    font-family: 'Quicksand', sans-serif;
    background-color: var(--platinum);
}

header {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: var(--royal-blue-dark);
}

nav {
    display: flex;
    justify-content: flex-start;
}

nav > a {
    margin: 10px;
    padding: 10px;
    text-decoration: none;
    color: var(--platinum);
}

nav > a:hover {
    color: var(--celadon-blue);
    background-color: var(--platinum);
    border-radius: 5px;
}

h1 {
    font-family: 'Tourney', cursive;
    color: var(--red-salsa);
    background-color: var(--platinum);
    margin: 0 20px 30px 20px;
    padding: 20px;
    border: 5px solid var(--red-salsa);
    border-radius: 5px;
    width: 20%;
    box-shadow: 10px 10px var(--celadon-blue);
    text-align: center;
}

.card {
    margin: 20px;
    border-color: var(--celadon-blue);
}

.card-header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    color: var(--platinum);
    background-color: var(--celadon-blue);
}

.card-header > h5, p {
    margin: 0px;
}